h1
{
    text-align: center;
    font-size: 30px;
    margin: 5px;
    font-family: sans-serif;
    font-weight: 700;
}

body
{
    background: #65A954;
}

.white-box
{
    background: #FFF;
    border: 4px solid #FFF;
    border-radius: 4px;
}

#title-container
{
    width: 100%;
    height: 85px;
}

#control-panel
{
    width: 100%;
    height: 100%;
    margin: 5px;
}

/* Map Section */

#map-viewport
{
    width: 500px;
    height: 500px;
    cursor: move;
    overflow: hidden;
    float: left;
    display: inline-block;
    margin 10px;
}

#map-layer1
{
    width: 650px;
    height: 650px;
}

#map-layer2
{
    width: 1300px;
    height: 1300px;
}

#map-layer3
{
    width: 2600px;
    height: 2600px;
}

/* Text section */

.interface
{
    display: inline-block;
    margin: 5px;
    margin-left: 20px;
    font-family: sans-serif;
    width: 400px;
}

.interface h2
{
   text-decoration: underline; 
}

.interface ul
{
    list-style: none;
    font-weight: bold;
    font-size: 15px;
}

.interface .coordinate
{
    text-decoration: underline;
    font-weight: normal;
}
