h1
{
    text-align: center;
}

/* Map Section */

#map-viewport
{
    width: 650px;
    height: 650px;
    cursor: move;
    overflow: hidden;
    margin 10px;
    font-style: italic;
}

#map-layer1
{
    width: 650px;
    height: 650px;
}

#map-layer2
{
    width: 1300px;
    height: 1300px;
}

#map-layer3
{
    width: 2600px;
    height: 2600px;
}

#map-layer4
{
    width: 5200px;
    height: 5200px;
}

/* Text section */

.panel ul
{
    list-style: none;
    font-weight: bold;
}

.panel .coordinate
{
    text-decoration: underline;
    font-weight: normal;
}

#legend
{
    display: none;
}

#robot-ip-field
{
    color: #FFF;
}
