<!DOCTYPE HTML>
<html>
    <head>
        <title>Nicolas Arciniega</title>
    </head>
    <body style="background-color: #FFF; text-align: center;">
        <div id="coming_soon">
            <h2 style="text-align: center; font-side: 20px; color: #008B8B">Coming Soon!</h2>
            <img alt="sorry..." height="400px" width="600px" src="{{ STATIC_URL }}images/ShrugEmoticon.jpg"> 
        </div>
        <br />
        <div id="contact_info">
            <h1>Some info:</h1>
            Email: <a href="mailto:naarcini@uwaterloo.ca">naarcini@uwaterloo.ca</a><br />
            <a href="https://dl.dropboxusercontent.com/u/30618847/Nicolas%20Arciniega.pdf">Resume</a>
        </div>
    </body>
</html>

