<div class="contact" style="background-image: url({{ STATIC_URL}}images/b2.jpg);">
    <div class="cell">
        <div class="heading">Current Contact Info</div>
        <div class="regular">
        Email: <a href="mailto:naarcini@uwaterloo.ca">naarcini@uwaterloo.ca</a><br />
        I'm moving all the time because of co-op, but I'm generally located in Canada.
        </div>
    </div>

    <div class="cell">
        <div class="heading">Other</div>
        <div class="regular">
        Eventually I'll have a mail server for this domain...<br /><br />
        If you know me (or if you don't), please give me feedback about this site!! I'm no designer and I kind of just whipped this up in about a day. <br />
        I'm also actively seeking ideas for a Fourth Year Design Project (related to electrical engineering) for school, so feel free to send me some ideas about that too.
        </div>
    </div>


</div>
