<!DOCTYPE HTML>
<html>
    <head>
        <title>Nicolas Arciniega</title>
        <link href="{{ STATIC_URL }}styles/default.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}scripts/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}scripts/navigation.js"></script>
    </head>
    <body>
        <div id="menu_container">
            <div id="floater"></div>
            <div id="menu_items">
            <ul>
                <li><a href="#" id="menu_home">HOME</a></li>
                <li><a href="#" id="menu_resume">RESUME</a></li>
                <li><a href="#" id="menu_links">LINKS</a></li>
                <li><a href="#" id="menu_contact">CONTACT</a></li>
            </ul>
            </div>
        </div>
        <div id="general_container">
        </div>
    </body>
</html>
