<div class="links" style="background-image: url({{ STATIC_URL }}images/b3.png);">
    <div class="cell">
        <div class="heading">I get that this website is kind of odd and doesn't look great yet, but I'll keep working on it as I get the time.</div>
    </div>

    <div class="cell">
        <div class="heading">Projects</div><br />
        <div class="regular">
        See my <a href="https://github.com/naarcini">Github</a> for the code for this site, a cool project called "wear a hat", and my URA stuff. Wear a Hat is a browser based multiplayer game where a bunch of dudes try to find and wear the only hat in the world. The only way to lose the hat is to log out. The URA stuff has to do with developing an in-memory foster b-tree.
        </div>
    </div>

    <div class="cell">
        <div class="heading">Media</div><br />
        <div class="regular">
        I have a <a href="http://ca.linkedin.com/pub/nicolas-arciniega/70/59b/ab7">LinkedIn account</a> that you can check out, but it's mostly the same stuff as here.<br />
        When I get time I also like to play <a href="http://www.xboxlivescore.com/profile/LEGENw4iDAIRY">Xbox</a>. The name is a reference to the second episode of How I Met Your Mother.<br />
        On a somewhat unrelated note, I'm a huge <a href="http://roosterteeth.com/home.php">RoosterTeeth</a> fan!
        </div>
    </div>

    <div class="cell">
        <div class="heading">Other</div><br />
        <div class="regular">
        The artwork for this background comes from <a href="http://www.vasburg.com/index.html">here</a>.<br />
        </div>
    </div>
</div>
