<div class="resume">

    <h1>Nicolas Arciniega</h1>
    <p class="main_info">
    4A Electrical Engineering <br />
    Student ID: 20370815
    </p>
    <p class="other_info">
    Email: <a href="mailto:naarcini@uwaterloo.ca">naarcini@uwaterloo.ca</a><br />
    <a href="https://dl.dropboxusercontent.com/u/30618847/Nicolas%20Arciniega.pdf">PDF Version</a>
    </p>
    <hr />

    <h2>Skills Summary</h2>
    <ul>
        <li>Most recent experience with Python, C, Java, JavaScript, HTML, CSS, Django, and Git</li>
        <li>Previous experience with MATLAB, C#, C++, SQL, ASP.NET, Perforce, and VSS</li>
        <li>Developed software using Visual Studio, Android Studio, and Vim</li>
        <li>Significant practice using electrical lab equipment (Oscilloscopes, power supplies, etc)</li>
        <li>Created and tested many electical circuits in previous courses</li>
        <li>Experience with Mac, Windows, and various Unix-like operating systems</li>
        <li>Fast learner who easily adapts to changes in work duties</li>
        <li>Quality communication capabilities in both English and Spanish</li>
    </ul>

    <h2>Education</h2>
    <p>
    UNIVERSITY OF WATERLOO<br />
    <strong>Candidate for Bachelor of Applied Science</strong>, Honours Electrical Engineering, Waterloo, ON, 9/10 - 6/15

    <h2>Work Experience</h2>
    
    <p>
    University of Waterloo<br />
    <strong>Undergraduate Research Assistant</strong>, Waterloo, ON, 1/14 - 4/14
    </p>
    Clarification:<br />
    I did this work during an academic term. That is, I worked on this project approximately 6 hours per week while also dealing with a full course load. This was not a co-op term.
    <ul>
        <li>Worked with Prof. Wojciech Golab and Prof. Patrick Lam to improve in-memory data structures</li>
        <li>Changed an open source thread-safe foster b-tree implementation to work in main memory only</li>
        <li>Implemented a new algorithm to try to speed up an insertion-heavy workload</li>
        <li>Ended up halving the execution time of a given data set</li>
        <li>Currently testing and polishing implementation with the intention of publishing an academic paper</li>
    </ul><br />

    <p>
    A THINKING APE<br />
    <strong>Software Development Co-op</strong>, Vancouver, BC, 9/13 - 12/13
    </p>
    <ul>
        <li>Worked with two teammates to develop the Android client for a game from the ground up (Casino X)</li>
        <li>Used libgdx to develop slot machines, bonus games, and a daily bonus game</li>
        <li>Built an audio plugin using JNI and the FMOD API</li>
        <li>Optimized game for several devices by flattening the layout hierarchy, analyzing systraces, and examining the DDMS Traceview</li>
        <li>Worked on various other aspects of the game using standard Android practices with a heavy focus on using fragments for different screens</li>
    </ul><br />

    <p>
    A THINKING APE<br />
    <strong>DevOps Co-op</strong>, Vancouver, BC, 1/13 - 4/13
    </p>
    <ul>
        <li>Lead developer on several projects including a code search engine, a VM management page, an automatic test running service, a dynamic UI for company metrics, and other things</li>
        <li>Worked on many web-based user interfaces using jQuery, AJAX, and Django templates</li>
        <li>Implemented back end of web tools using Python and Django</li>
        <li>Worked largely using Bash shell, Vim, and ssh</li>
        <li>Learned a lot about working in a start-up and taking direct responsibility for projects</li>
    </ul><br />
    
    <p>
    MOUNTAIN EQUIPMENT CO-OP<br />
    <strong>Co-op Student</strong>, Vancouver, BC, 4/12 - 8/12
    </p>
    <ul>
        <li>Worked closely with query developers and users to write business critical queries in StarQuery and XL400</li>
        <li>Provided support for user queries and issues involving the data server, an IB AS/400</li>
        <li>Identified, documented, and migrated 300 useful queries from XL400 to StarQuery</li>
        <li>Improved communication skills via a myriad of user requests, questions, issues, and memos</li>
        <li>Started productive work using an unfamiliar database and new tools on day one of employment</li>
    </ul> <br />
    
    <p>
    SCOTIABANK<br />
    <strong>Associate Programmer Analyst</strong>, Scarborough, ON, 9/11 - 12/11
    </p>
    <ul>
        <li>Migrated various web applications from .NET 1.1 to .NET 3.5</li>
        <li>Developed a smart client application to print specially formatted cheques from a web application with no prompts for the user</li>
        <li>Designed database architecture for a new feature being added to a web application and wrote script to implement changes in SQL</li>
        <li>Created test cases and ran each case in HPQC</li>
        <li>Completed various other tasks in C#, ASP.NET, Javascript, and SQL efficiently</li>
        <li>Learned to work well with a large team working on many simultaneous projects</li>
    </ul><br />

    <p>
    BROCK SOLUTIONS<br />
    <strong>Software Developer</strong>, Kitchener, ON, 1/11 - 4/11
    </p>
    <ul>
        <li>Wrote a 230-page test plan document to be presented to the customer, RJ Reynolds Tobacco, and used during the Integrated Testing phase of the team's project.</li>
        <li>Developed several reports using SQL Reporting Services 2005 and 2008, SQL Server 2005, and C#. This includes the report itself and the web interface.</li>
        <li>Tested, debugged, and added functionality to the project using C# in both a web based and a portable scanner environment which uses windows forms.</li>
        <li>Exposed to Perfoce Version Management, SIMATIC IT, SQL Server 2005, Rockwell, and Visual Studio software.</li>
        <li>Gained valuable teamwork skills through working in an open room with a team of developers.</li>
    </ul> <br />

    <h2>Leadership Roles</h2>
    <ul>
        <li>Organized a 2-day retreat for 30 students and a 4-day retreat for 80 candidates during Vancouver College's Pilgrimage and Encounter Retreats respectively.</li>
        <li>Headed the Vancouver College Edmundian Association, a group of 39 students dedicated to offering a structured service group for school events, enhancing the Edmundians' reputation as quality helpers</li>
        <li>Served as VP Finance for the UW Concert Band Club in 2A</li>
    </ul>

    <h2>Awards and Scholarships</h2>
    <ul>
        <li>First In Class Engineering Scholarship, 5/14</li>
        <li>NSERC Undergraduate Student Research Award, 1/13</li>
        <li>Dean's Honour List, University of Waterloo (1A, 1B, 2A, 2B, 3A, 3B)</li>
        <li>President's Entrance Scholarship, University of Waterloo, 5/10</li>
        <li>Faculty of Engineering Scholarship, University of Waterloo, 6/10</li>
        <li>11 awards at High School Commencement Vancouver College, 6/10</li>
        <li>Top 3 President's Honour Society (highest GPA in entire grade) from grades 9 to 12</li>
    </ul>

    <h2>Interests</h2>
    <ul>
        <li>Member of the Vancouver College rowing team from 2005-2009</li>
        <li>Enjoy working out, playing soccer, and playing video games</li>
        <li>Self-taught drummer</li>
        <li>Worked on a browser based multiplayer game called "Wear A Hat" in Python and Javascript with a teammate (see GitHub project "hat" for username "naarcini")</li>
        <li>Built this website and set up Apache configurations. See my github (naarcini) for the code.</li>
    </ul>
    <br /><br />

</div>

